p {
  letter-spacing: 1.2px;
  text-align: start;
}
.Aboutpage {
  width: 100%;
  height: 100vh;
  background-color: #05040b;
  overflow: hidden;
  display: flex;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.4rem;
  overflow-y: scroll;
}

/* .aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
} */
.icons-div > .about-iconsContainer {
  width: 100%;
  display: flex;

  justify-content: space-evenly;

  /* gap: 1rem; */
}
.aboutIcons {
  width: 80%;
  font-size: 1.6rem;
}
main .aboutContainer-imageDiv {
  display: flex;
  justify-content: center;
}
main .aboutContainer-imageDiv .aboutContainer-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
/* TRYING OUT THE GLOW EFFECT  */
/* main .aboutContainer-imageDiv .aboutContainer-image::before {
  background: radial-gradient(
    800px circle at 100px 100px,
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
} */
/* GLOW EFFECT THINGIE ENDS HERE */

@media screen and (min-width: 1200px) {
  main {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    /* padding-top: 6rem; */
    gap: 3rem;
  }

  main .aboutContainer-imageDiv {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  main .aboutContainer-imageDiv .aboutContainer-image {
    width: 80%;
    height: auto;
    max-width: 600px;
    border: 0.01px #2f81f7 solid;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    position: relative;
    transition: opacity 0.7s ease-in-out 0.2s;
  }
  main .aboutContainer-imageDiv .aboutContainer-image:hover {
    opacity: 1;
  }

  main .aboutContainer-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 2rem;
  }
  .aboutIcons {
    width: 80%;
    font-size: 3.6rem;
  }
}

/* main .headerdiv {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .headerdiv h1 {
  width: 100%;
  display: block;
} */
