.Contactpage {
  width: 100%;
  height: 100vh;
  background-color: #05040b;
  overflow-x: hidden;
  display: flex;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
.Contactpage section {
  margin-top: 6rem;
}
@media screen and (min-width: 1200px) {
  .Contactpage section {
    margin-top: 0;
  }
}
