@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem; */
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.HomePage {
  width: 100%;
  height: 100vh;
  background-color: #05040b;
  overflow: hidden;
}

/* -------------------------NAVBAR ----------------------------------------*/

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #05040c;
  /* new rulessssssss */
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  /* display: none; */
}
.Navbar-title {
  font-size: 1.4rem;
  padding: 0.5rem;
}
.Navbar-menu {
  font-size: 3rem;
  padding: 0.5rem;
}
@media (min-width: 480px) {
  .Navbar-menu {
    font-size: 3.3rem;
  }
  .Navbar-title {
    font-size: 2.4rem;
  }
}

/* ------------------------------------SIDE CONTENT--------------------------*/
.SideContent {
  width: 100%;

  position: absolute;
  bottom: 0;
  padding: 2rem;
  /* z-index: 12; */
}

.SideContent .links {
  display: flex;
  place-items: center;
  justify-content: space-between;
}
.SideContent ul li {
  list-style: none;
  font-size: 2rem;
}
.SideContent ul li a {
  /* color: #ffffff7b; */
  text-decoration: none;
  font-size: 3rem;
}

.fa-brands {
  color: #ffffff7b;
  font-size: 3.4rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem;
}
.fa-brands:not(:last-child) {
  margin-bottom: 3rem;
}
.fa-brands:hover {
  color: #2f81f7;
  transform: scale(1.2);
}
@media (min-width: 480px) {
  .SideContent {
    position: absolute;
    left: 0;
    top: 20%;
    bottom: 10%;
    margin: auto 0;
    width: 10%;
  }
  .SideContent ul {
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}

/*------------------------------------------------MAIN -----------CONTENT */
.MainContent {
  width: 100%;
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: absolute;
  top: 20%;
  bottom: 10%;
}
.MainContent h1 {
  font-family: var(--main-font);
  font-size: 4rem;
  text-align: left;
  font-weight: 900;
}
.MainContent h1 span {
  color: #ffffff55;
  display: block;
  font-size: 1.4rem;
  text-align: left;
}
.MainContent h2 {
  text-align: left;
  color: #ffffffa4;
  font-weight: 500;
}
.MainContent button {
  display: block;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #2f81f7;
  cursor: pointer;
}
.MainContent button:hover {
  background-color: #2f81f7;
  color: #05040c;
  transition: all 0.3s ease;
}

.MainContent button span {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

@media (min-width: 480px) {
  .MainContent {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20rem; */
    /* margin-left: 20rem;
    margin-right: 20rem; */
  }
  .MainContent h1 {
    font-size: 5rem;
  }
  .MainContent h1 span {
    font-size: 3rem;
  }
  .MainContent h2 {
    font-size: 3rem;
  }
}
/* ------------------------------HOMPAGE-------------------- */
@media (min-width: 480px) {
  .container {
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
  }
}

/* ----------------------------------------------nav-link-------------------- */
/* .nav-links {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding: 0 10%;
  background-color: #05040b;
  letter-spacing: 2px;
} */
.nav-links {
  display: flex;
  position: fixed;

  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  z-index: 10;
  padding: 60% 0 10% 10%;
  background-color: #05040b;
  transition: all 0.8s ease-in-out;
}
.nav-links.open {
  left: 0;
}

.nav-links li {
  list-style: none;
  font-size: 4em;
  color: transparent;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
  font-weight: bolder;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  text-align: start;
}
@media screen and (min-width: 1200px) {
  .nav-links {
    padding-top: 90%;
    /* position: fixed; */
    /* bottom: 0;
    left: 0; */
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: flex;

    flex-direction: column;
    padding: 20% 10%;
    background-color: #05040b;
    letter-spacing: 2px;
  }
  .nav-links.open {
    left: 0;
  }
  .extraImage {
    /* display: none; */
    opacity: 0;
    z-index: 10;
    height: 60%;
    width: 60%;
    position: absolute;
    right: 0;
    top: 10%;
    right: 10%;
    border-radius: 12px;
    /* border: 1px solid white; */

    transition: opacity 0.4s ease-in-out;
  }

  .extraImage.show {
    opacity: 0.8;
  }
}

.nav-word {
  background-color: red;
  padding: 0 10px;
  overflow: hidden;
  height: 60px;
}
.line {
  text-transform: uppercase;
  line-height: 60px;
}
.line:first-child {
  animation: anim 12s infinite;
}

@keyframes anim {
  0% {
    margin-top: 0;
  }
  16% {
    margin-top: -60px;
  }
  33% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  66% {
    margin-top: -120px;
  }
  82% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}
/* -----------------------CURSOR--------------------- */

.cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 1500;
}
.cursor.grow {
  width: 50px;
  height: 50px;
  transition: width 0.5s, height 0.5s;
}
.outerCursor {
  position: fixed;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: 0.05s;
  z-index: 1500;
}
